<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../styles/style.scss"> -->
  <!-- <link rel="stylesheet" href="../styles/responsive.css"> -->
</head>
<body>
    <div class="main">
        <form action="" method="" class="form" id="form-1" >
          <h3 class="heading">Travel Planner</h3>
          <p class="desc">Let's create your planner ❤️</p>
      
          <div class="spacer"></div>
      
          <div class="form-group">
            <label for="fullname" class="form-label">Where you want to go</label>
            <input id="place" name="fullname" type="text" placeholder="Ex: Paris" class="form-control">
            <span class="form-message"></span>
          </div>
      
          <div class="form-group">
            <label for="planday" class="form-label">The day you want to go</label>
            <input id="planday" name="email" type="date" class="form-control">
            <span class="form-message"></span>
          </div>
          <button class="form-submit">Generate</button>
        </form>
        <div class="Result invalid2" > 
          <img src="" alt="" id="Img__Place">
          <div class="detail">
            <h3 class="Title"></h3>
            <h3 class="Title"></h3>
            <p class="Days__away"></p>
            <div class="btn">
              <button class="">Save Trip</button>
              <button class="">Remove Trip</button>
            </div>
            <span class="clouds"></span>
            <span class="temp"></span>
            <span class="describe"></span>
            <span>
              <a href="">My Travel Planner</a>
            </span>
          </div>
        </div>
      </div>
      <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>
</body>
</html>